h1{ 
    color:red;  
    font-family:'Spicy Rice', cursive;
} 
h2{ 
    color:red;  
    font-family:'Spicy Rice', cursive;
} 
p{ 
    background-color:orange; 
    font-family:'Spicy Rice', cursive;
} 
h1{ 
    color:red;  
    font-family:'Spicy Rice', cursive;
}  

 
